{% extends "base.html" %}

{% block content %}
    <!-- <h1>Hi, {{ current_user.id }}!</h1> -->

    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Dashboard</h1>
                <p>{{ 'Zones: ' if session['account_id'] }}{{ cf.zones_count }}</p>
                <!-- <p>Zones: {{ cf.zones_count }}</p> -->
            </div>
        </div>
    </div>

    {% for zone in cf.zones %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>{{ zone.name }}</h2>
            </div>
            <div class="col text-end">
                <strong>Security level</strong>: <a href="{{ url_for('change_zone_security_level', zone_id=zone.id) }}">{{ zone.security_level }}</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <strong>DNS records: {{ zone.dns_count }}</strong>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Name</th>
                            <th>Content</th>
                            <th>Proxied</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dns in zone.dns %}
                        <tr>
                            <td>{{ dns.type }}</td>
                            <td>{{ dns.name }}</td>
                            <td>{{ dns.content }}</td>
                            <td><a href="{{ url_for('change_dns_proxied', dns_record_id=dns.id, zone_id=zone.id, content=dns.content, name=dns.name, type=dns.type) }}">{{ dns.proxied }}</a></td>
                            <td><a href="{{ url_for('dns_record_delete', dns_record_id=dns.id, zone_id=zone.id, name=dns.name, type=dns.type) }}"><button class="btn btn-sm btn-danger">Delete</button></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <form action="{{ url_for('copy_dns_a_to_aaaa') }}" method="post">
                    <input id="zone_id" name="zone_id" type="hidden" value="{{ zone.id }}">
                    {{ form.hidden_tag() }}

                    {{ form.ipv6_address.label }}
                    {{ form.ipv6_address(size=32) }}
                    {{ form.submit(class="btn btn-success") }}
                </form>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}